@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap" rel="stylesheet');

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #215e2a;
  background: #66a849;
  background-size:cover;
  


}
/*---Navigation--*/
.navbar {
  text-transform: uppercase;
  font-weight:70;
  font-size:2rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}
.collapse .navbar-collapse {
  padding-right: .7rem;
}
.navbar-brand  {
    height: 2rem;
    text-decoration-color: #fff;
}
.navbar-nav li {
  padding-right: 9rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: gainsboro;
  padding-top: .78rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link hover{
  color: #66a849;
}

/*---landing page----*/


.caption{
  width:100%;
  max-width:100%;
  position:absolute;
  top:38%;
  z-index:1;
  color:white;
  text-transform: uppercase;
}
.caption h1 {
   font-size: 3.8rem;
   font-weight:700;
   letter-spacing:.3rem;
   text-shadow: .1rem .1rem .8rem black;
   padding-bottom: 1rem;
}
.caption h3{
  font-size:2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom:1.6 rem;
}
.carousel-item
{
 height:70vh;
 min-height:150px;
 background:no-repeat center center scroll;
  -webkit-background-size:cover;
 background-size: cover;
}
.carousel-caption{
  bottom:220px;
}
.carousel-caption h5
{
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  letter-spacing:2px;
  margin-top: 25px;
  font-weight:700;
  text-decoration-color:white;
}

.carousel-caption p
{
  width:75%;
  margin:auto;
  font-size:15px;
  line-height:1.9;
}















.btn-lg{
  border-width:medium;
  border-radius:0;
  padding:.6rem 1.3rem;
  font-size: 1.1rem;

}
.single-blog
{

  box-shadow: 0rem 0rem 2rem 1rem rgba(0,0,0,0.2);
  padding: 1rem;
  margin-top:3rem;
  background-color: #fff;
    
}
.blog-meta

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
